.form-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-div{
    width:30%;
    padding: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-outline{
    border: 2px solid #0C56D0;
    border-radius: 10px;
}
.home{
    color:  #0C56D0;
}